services:
  db:
    image: postgres:18
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: id_hayatro_id_dev
    volumes:
      - postgres_data:/var/lib/postgresql

  adminer:
    image: adminer:5
    ports:
      - 8080:8080

volumes:
  postgres_data:
