# fly.toml app configuration file generated for id-hayatro-id on 2026-02-08T05:57:42Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'id-hayatro-id'
primary_region = 'nrt'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'id.hayatro.id'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
